@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

a:focus {
  color: #000000;
}

ul {
  list-style: none;
}

body {
  padding: 2.5rem 5rem;
}

.navbar .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar .container .brand {
  display: flex;
  align-items: center;
}

.navbar .container .brand .logo {
  height: 2.25rem;
  margin-right: 0.75rem;
}

.navbar .container .brand .logo-text {
  align-self: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  white-space: nowrap;
}

.navbar .container .nav-items {
  display: block;
  width: auto;
  transition: 0.5s;
}

.navbar .container .nav-items .nav-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.navbar .container .nav-items .nav-list li {
  display: flex;
  align-items: center;
}

.navbar .container .nav-items .nav-list .nav-item {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar .container .nav-items .nav-list .nav-item .user-icon {
  position: relative;
  overflow: hidden;
  background: #3867D6;
  padding: 18px;
  height: 55px;
  width: 55px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-mob {
  background: #ffffff;
  display: none;
  outline: none;
  border: none;
}

.space {
  height: 100px;
  width: 100%;
  display: block;
}

.landing {
  width: 100%;
  padding: 50px;
  border-radius: 40px;
  background: linear-gradient(90deg, #7474BF 0%, #1488CC 100%);
  box-shadow: 0 12px 40px 15px rgba(55, 100, 215, 0.25);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.landing .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.landing .title-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 50px;
}

.landing .title-container .title {
  font-size: 4rem;
  line-height: 1;
  font-weight: 500;
}

.landing .title-container .subtitle {
  font-size: 3rem;
  line-height: 1;
  font-weight: 200;
}

.landing .search {
  padding: 10px 26px;
  padding-right: 15px;
  background: #ffffff;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 7px 29px rgba(0, 0, 0, 0.2);
}

.landing .search .search-input {
  border: none;
  outline: none;
  width: 80%;
  font-size: 24px;
  line-height: 1;
}

.landing .search .mic-icon {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .search .mic-icon img {
  height: 28px;
}

.landing .search .search-icon {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.landing .search .search-icon .search-btn {
  background: #FC5C65;
  padding: 16px 28px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .search .search-icon .search-btn img {
  height: 28px;
}

.landing .book-img {
  height: 280px;
}

.headline {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 50px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
}

.article-img {
  width: 100%;
  height: 250px;
  background: url('./assets/article.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.like {
  width: 50px;
  height: 50px;
  background: #ffffff;
  top: 15px;
  right: 15px;
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.like svg {
  cursor: pointer;
  height: 26px;
  width: 26px;
}

.article-title {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  margin-top: 15px;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-content {
  display: block;
  position: absolute;
}

.dropdown svg {
  height: 14px;
  width: 14px;
}

@media (max-width: 1700px) {
  .articles {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1400px) {

  .landing {
    padding: 40px;
  }

  .landing .title-container .title {
    font-size: 3rem;
  }

  .landing .title-container .subtitle {
    font-size: 2rem;
  }

  .landing .search {
    padding: 8px 24px;
    padding-right: 15px;
  }

  .landing .search .search-input {
    width: 70%;
    font-size: 20px;
  }

  .landing .search .mic-icon {
    width: 10%;
  }


  .landing .search .search-icon {
    width: 20%;
  }

  .landing .search .search-icon .search-btn {
    padding: 14px 26px;
  }

  .landing .book-img {
    height: 240px;
  }

  .articles {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1100px) {
  .landing {
    justify-content: center;
    text-align: center;
  }

  .landing .book-img {
    display: none;
  }

  .landing .title-container .title {
    font-size: 3.5rem;
  }

  .landing .title-container .subtitle {
    font-size: 2.5rem;
  }

  .landing .search .search-input {
    width: 75%;
    font-size: 20px;
  }

  .landing .search .mic-icon {
    width: 5%;
  }

  .landing .search .mic-icon img {
    height: 28px;
  }

  .landing .search .search-icon {
    width: 20%;
  }

  .articles {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  body {
    padding: 30px;
  }

  .landing .title-container .title {
    font-size: 3rem;
  }

  .landing .title-container .subtitle {
    font-size: 2rem;
  }

  .headline {
    text-align: center;
  }

  .articles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .landing .title-container .title {
    font-size: 2.5rem;
  }

  .landing .title-container .subtitle {
    font-size: 1.5rem;
  }

  .landing .search {
    padding: 4px 20px;
    padding-right: 8px;
  }

  .landing .search .search-input {
    width: 70%;
    font-size: 16px;
  }

  .landing .search .mic-icon {
    width: 10%;
  }

  .landing .search .mic-icon img {
    height: 28px;
  }

  .landing .search .search-icon {
    width: 20%;
  }

  .landing .search .mic-icon img {
    height: 24px;
  }

  .landing .search .search-icon .search-btn img {
    height: 24px;
  }


  .landing .search .search-icon .search-btn {
    padding: 10px 22px;
  }

  .articles {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 500px) {
  .navbar .container .nav-items {
    width: 100%;
  }

  .nav-mob {
    display: inline-flex;
  }

  .navbar .container .nav-items {
    display: none;
  }

  .navbar .container .show {
    display: block;
    padding-top: 15px;
  }

  .navbar .container .nav-items .nav-list {
    flex-direction: column;
    font-size: 1rem;
    gap: 0.5rem;
  }

  .landing {
    padding: 25px;
  }

  .landing .title-container .title {
    font-size: 2rem;
  }

  .landing .title-container .subtitle {
    font-size: 1rem;
  }

  .navbar .container .nav-items .nav-list .nav-item {
    padding: 0.25rem 0.5rem;
  }

  .navbar .container .nav-items .nav-list .nav-item .user-icon {
    padding: 14px;
    height: 40px;
    width: 40px;
  }

  .navbar .container .nav-items .nav-list .nav-item .user-icon img {
    height: 16px;
  }

  .landing .search {
    padding: 2px 16px;
    padding-right: 4px;
  }

  .landing .search .search-input {
    width: 70%;
    font-size: 12px;
  }

  .landing .search .mic-icon {
    width: 10%;
  }

  .landing .search .search-icon {
    width: 20%;
  }

  .landing .search .mic-icon img {
    height: 18px;
  }

  .landing .search .search-icon .search-btn img {
    height: 18px;
  }


  .landing .search .search-icon .search-btn {
    padding: 6px 12px;
  }


  .landing .title-container {
    margin-bottom: 25px;
  }

  .space {
    height: 75px;
  }

  .headline {
    font-size: 2rem;
  }

}